[

%%
%% logger config
{lager, [
   {handlers, [
      {lager_console_backend, [{level, info}]}
     ,{lager_file_backend,    [{file, "log/ecsd.log"}, {level, info}, {formatter, lager_default_formatter},{formatter_config, [date, " ", time, " ", message, "\n"]}]}
   ]}
]},

{ecsd, [
   %%
   %% aws route53 zone to modify
   {hosted_zone_id, {env, "ECS_HOSTED_ZONE", "ZXXXXXXXXXXXXX"}}
]}

].