[

%%
%% logger config
{lager, [
   {handlers, [
		{lager_console_backend, [{level, info}]}
     ,{lager_file_backend,    [{file, "log/ecsd.log"}, {level, info}, {formatter, lager_default_formatter},{formatter_config, [date, " ", time, " ", message, "\n"]}]}
   ]}
]},

%%
%% include external config
"/etc/ecsd/app.config"
].